<%- include('navparts/navHeader')  %> 
<%- include('navparts/navbody')  %> 
<div class="container">
    <form class="filter" action="/" method="GET">
        <div class="row">
            <div class="col col-md-10">
                <select name="category" class="form-control">
                    <option value="all">All</option>
                    <option value="clothes">Clothes</option>
                    <option value="phones">Phones</option>
                    <option value="electronics">Electronics</option>
                    <option value="accessories">Accessories</option>
                </select>
            </div>
            <div class="col col-md-2">
                <input type="submit" class="btn btn-primary" value="Filter">
            </div>
        </div>
    </form>
    
    <% if(products.length === 0) { %>
        <div class="alert alert-danger">
            there is no products
        </div>
        <% } else { %>    
    <div class="row">
        <% for (let i of products) {%> 
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 100%;">
                <img src="/<%= i.image%>" class="card-img-top" style="height: 200px;">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/product/<%= i._id%>" ><%= i.name%></a>
                    </h5>
                    <p>Price:<%= i.price%> $</p>
                    <form action="/cart" method="post">
                        <input type="number" name="amount" class="form-control">
                        <input type="submit" value="Add to Cart" class="btn btn-primary ">

                    </form>
                </div>
            </div>
        </div>
        <% } %> 
    </div>
    <% } %>
</div>
<%- include('navparts/navFooter')  %> 